.body {
  margin: 0;
}
.header-logo {
  background-image: url(./img/immagine-logo-background.png);
  background-color: rgb(9, 160, 236);
  margin: 0;
}
.commenti-foto {
  font-size: 12px;
}
.th-blu {
  background-color: royalblue;
}
.tr-colore-azzurro {
  background-color: aquamarine;
}
.tabella {
  margin: 0;
}
